.hidden{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
   background-color: rgb(222, 241, 194);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    margin-top: 350px;
    font-weight: bold;
    display: grid;
}

.nome{

